.footer {
    background-color: #37383D;
    color: #FFFFFF;

    padding-top: 5rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
        padding: 5rem 5rem 10rem 5rem;

        border-bottom: 1px solid white;
    }

    &__title {
        max-width: 70rem;
        font-size: 4rem;
        font-weight: 600;

        margin-bottom: 5rem;
    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10rem 3rem 10rem 3rem;
    }

    &__nav {
        font-size: 1.8rem;
    }

    &__ul {
        display: flex;
        justify-content: center;

        gap: 3rem;

        list-style: none;
    }

    &__li {

    }

    &__link {
        text-decoration: none;
        color: rgb(210, 210, 210);
    }

    &__logo {
        height: 10rem;

        margin: 4rem 0;
    }

    &__copyright {
        font-size: 1.7rem;
        color: rgb(135, 135, 135);
    }
}
