.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    padding: 2rem 8rem;

    background-color: #f3f3f3f1;

    z-index: 2;

    &__hmenu {
        order: 4;
        display: none !important;
        z-index: 2;

        svg {
            width: 34px;
            height: 34px;
        }
    }

    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    @include respond(phone) {
        .header__list--active {
            width: 100% !important;
            right: 0 !important;
        }
    }

    @include respond(tablet-landscape) {

        & {
            padding: 2rem 3rem;
        }
        
        &__list {
            display: none !important;
        }

        &__hmenu {
            display: block !important;
        }
    }

    @include respond(big-desktop) {
        .header__list--active {
            display: flex !important;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 4rem;
            position: static;
            width: auto;
            background-color: transparent;
            padding: 0;
        }

        &__hmenu {
            display: none !important;
        }

        &__list {
            display: flex !important;
        }
    }

    &__list--active {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 2;

        position: absolute;
        gap: 3rem;
        top: 0;
        right: 1rem;
        width: 40rem;
        background-color: white;
        padding: 2rem;

        border-radius: 20px;
    }

    // Sticky header
    // position: sticky;
    // top: 0;

    &__logo {
        height: 100%;

        &-img {
            height: 100%;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;

        // Hovering effect with only css
        // .header__item {
        //     &:hover ~ .header__item {
        //         opacity: 0.3;
        //     }

        //     &:has(+ *:hover),
        //     &:has(+ * + *:hover),
        //     &:has(+ * + * + *:hover) {
        //         opacity: 0.3;
        //     }
        // }
    }

    &__item {
        font-size: 1.9rem;
        color: var(--color-grey-light-1);
        font-weight: 500;

        transition: opacity 0.3s ease, z-index 0s ease 0.3s;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &--green {
            background-color: var(--color-green-light-1);
            color: rgb(25, 25, 25);
            padding: 1rem 3rem;
            border-radius: 50rem;

            transition: background-color .3s;

            &:hover {
                background-color: var(--color-green-light-2);
            }
        }
    }
}
