.section--hidden {
    opacity: 0 !important;
}

.section {
    transition: translate 2s, opacity 1s;
}

.main {
    color: var(--color-grey-light-1);

    &__section {
        color: var(--color-grey-dark-1);
        width: 100%;
        
        &-header {
            margin: 0 auto 8rem;
            max-width: 75rem;
        }

        &-description, &-title {
            font-weight: 600;
            margin-right: 2rem;
        }

        &-description {
            color: var(--color-green-light-2);
            font-size: 2rem;
            margin-bottom: 1.5rem;

            text-transform: uppercase;
        }

        &-title {
            font-size: 4rem;
            text-wrap: wrap;
        }

        &-row--inv {
            flex-direction: row-reverse;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(128, 128, 128, 0.264);
        }
    }

    &__slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15rem auto 0 auto;
        max-width: 100rem;

        &-button {
            border: none;
            background: rgba(255, 255, 255, 0.7);
            font-family: inherit;
            color: #333;
            border-radius: 50%;
            height: 5.5rem;
            width: 5.5rem;
            font-size: 3.25rem;
            cursor: pointer;
        }
    }

    &__slide {
        max-width: 70rem;
    }

    &__testimonial-title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 2rem;

        &::before {
            content: "“";
            color: var(--color-green-light-2);
            font-size: 4rem;
            margin-right: .1rem;
            vertical-align: middle;
        }
    }

    &__testimonial-description {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        color: rgb(143, 143, 143);
    }

    &__user-img {
        height: 7rem;
        border-radius: 50rem;
        margin-right: 2rem;
    }

    &__user-info {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        margin-left: 3rem;
    }

    &__user-info-block {
        display: flex;
        flex-direction: column;
    }

    &__user-name {
        font-size: 2rem;
        display: inline-block;
    }

    &__user-address {
        font-size: 1.5rem;
    }

    &__dots {
        margin: 5rem 50% 10rem 50%;
        display: flex;
        justify-content: space-between;

        width: 6.5rem;
    }

    &__dot-button {
        display: inline-block;

        height: 1rem;
        width: 1rem;

        border: none;
        border-radius: 500rem;

        background-color: #CACACA;

        cursor: pointer;

        &--active {
            background-color: #888888;
        }
    }
}

#section-1 {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem;
        height: 120rem;
        max-width: 125rem;
        margin: 0 auto;
    }

    &__title, &__paragraph {
        font-weight: 600;
    }

    &__title {
        font-size: 5rem;
        margin-bottom: 2.5rem;
    }

    &__paragraph {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--color-green-light-2);
        padding-bottom: .5rem;
        border-bottom: 1px solid;
    }

    &__img {
        height: 35rem;
    }
}

#img-1 {
    height: 100%;
}

@include respond(tablet-landscape) {
    #img-1 {
        display: none;

    }

    #section-1__container {
        height: 90rem;
    }

    .bg-green {
        border-bottom: solid 2px #6ccc83;

        &::after {
            display: none;
        }
    }
}

@include respond(phone) {
    #section-1__title {
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }

    #section-1__paragraph {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
}

.bg-green {
    position: relative;

    &::after {
        content: "";
        width: 116%;
        height: 100%;
        left: -8%;
        top: 0;
        z-index: -1;
        position: absolute;
        background: linear-gradient(to right, #5eda7b77, #65c27b);
        clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
    }
}

#section-2 {
    padding-top: 15rem;
    padding-bottom: 12rem;
    padding-left: 3rem;

    &__features {
        width: 80%;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        width: 100%;

        margin-bottom: 4rem;
    }

    &__img-container, &__row-description-container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        width: 100%;
        transition: filter 1.2s ease;
    }

    .img--blur { filter: blur(1.5rem); }

    &__row-description {
        width: 80%;
    }

    &__row-title, &__row-about {
        font-size: 2rem;
    }

    &__row-title {
        margin: 0 auto 2rem;
    }

    &__row-about {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 990px) { 
    #section-2 {
        padding-left: 0;
    }

    .main__section-header {
        padding-left: 3rem;
    }

    #section-2__row {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 auto 4rem auto;
    }

    #section-2__row:not(:last-child) {
        padding-bottom: 4rem;
    }

    #section-2__row:not(:last-child) {
        border-bottom: 1px solid #3333333f;
    }

    #section-2__img-container {
        margin-bottom: 2rem;
        border-radius: 2rem;
        overflow: hidden;
        border: 1px solid #3333333f;

        width: 35rem;
    }

    .icon-container {
        display: none !important;
    }

    #section-2__row-description-container {
        width: 35rem;
    }
}

.icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #D1E9D7;
    border-radius: 50%;

    margin-bottom: 2rem;
}

.icon-container svg {
    fill: #5EC576;
    width: 24px;
    height: 24px;
}

.main__operations {
    height: 30rem;
    display: flex;
    padding: 5rem;
    background-color: white;
    max-width: 100rem;
    margin: 0 auto;
}

.operation__content {
    display: none !important;
}

.operation__content--active {
    display: grid !important;
}

.operations__tab--active {
    transform: translateY(-.7rem);

    transition: transform .5s ease;
}

#section-3 {
    padding-top: 15rem;
    padding-bottom: 12rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &__buttons {
        background: linear-gradient(to bottom, transparent 50%, white 50%);
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 100rem;
        margin: 0 auto;
    }

    &__operations {
        background-color: white;

        display: grid;
        grid-template-columns: 70px 1fr;
        grid-column-gap: 2rem;
        align-items: center;
        padding: 2rem;
    }

    &__subtitle {
        font-size: 2.3rem;
        font-weight: 600;
        grid-column: 2 / span 2;
        text-align: left;
        height: 5rem;
    }

    &__about {
        color: var(--color-grey-light-2);
        font-size: 1.5rem;
        line-height: 2.5rem;
        grid-column: 2 / span 2;
        text-align: left;
    }
}

@media screen and (max-width: 1075px) {
    #section-3 {
        padding-left: 0;
        padding-right: 0;
    }

    .icon-container--yellow {
        display: none !important;
    }

    #section-3__buttons {
        margin: 0 auto 2rem auto !important;
        flex-direction: column;
        align-items: center;
        background: transparent;
        gap: 1rem;

        margin-right: 0;
    }

    .main__operations {
        max-width: 80rem;
        display: flex !important;
        align-items: center;
        justify-content: center;

        border-radius: 20px;
    }

    .operation__content--active {
        display: flex !important;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .operations__tab--active {
        transform: translateX(2rem);
    }
}

.icon-container--yellow {
    width: 70px;
    height: 70px;
    background-color: #FFF6CE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    svg {
        fill: #FFBB00;
        width: 34px;
        height: 34px;
    }
}

#section-4 {
    padding-top: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main__dots {
    padding-left: 0rem;
    margin: 4rem auto 8rem auto !important;
}

@media screen and (max-width: 940px) {
    #section-4 {
        padding-left: 0;
        padding-right: 0;
    }

    .main__slider-button {
        display: none;
    }

    .main__slider {
        padding-left: 3rem;
    }
}

// COOKIE MESSAGE

.cookie-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    color: #777777;
    font-size: 1.5rem;
    font-weight: 400;

    border-radius: 20px;

    position: fixed;
    bottom: 0;
    padding: 1rem;
}

.button-cookie {
    margin-right: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}
